.scene1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF494;
}

.flower {

    height: 348px;
}

.speed {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.rectangle {
    position: fixed;
    display: flex;
    width: 400px;
    height: 100px;
    left: 60%;
    top: 5%;
    background: #D2E23D;
    border-radius: 20px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.scene2 {
    background-image: url(../../picture/desert.png);
    width: 9500px;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    transition: all 1s;
}

.speed2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;

}

.flowerandrobot2 {

    position: fixed;
    margin-top: -85vh;
}

.bitcoin {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.bitcoinPic {
    width: 50px;
    height: 50px;
}

.switchpic {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 90%;
    top: 80%;
}

.switchpic_active {
    width: 100px;
    height: 100px;
    position: fixed;
    margin-left: 92%;
    margin-top: -11%;
    transform: rotate(180deg);
}

.scene3 {

    width: 1280px;
    height: 100vh;
    display: flex;
    overflow: hidden;
    margin: auto;

}

/*.speed3 {
    height: 100%;
    display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: space-around;
justify-content: space-around;
align-items: center;
}
*/


.pic {
    width: 7680px;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.bath, .earth, .forest, .image, .piramid, .sky {
    width: 1280px;
    height: 650px;
    display: block;
    transition: all 0,1s;

}

.bath {
    background-image: url(../../picture/scene3/bath.jpg);
}

.earth {
    background-image: url(../../picture/scene3/earth.jpg);
}

.forest {
    background-image: url(../../picture/scene3/forest.jpg);
}

.image {
    background-image: url(../../picture/scene3/image.jpg);
}

.piramid {
    background-image: url(../../picture/scene3/piramid.jpg);
}

.sky {
    background-image: url(../../picture/scene3/sky.jpg);
}

.flowerandrobot3 {

    position: absolute;
    margin-top: 31vh;
}

.scene4 {
    background-image: url(../../picture/barrels.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: stretch;
    flex-direction: row;

  
}

.scene5 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF494;
}

.rectangle4 {
    position: fixed;
    display: flex;
    width: 400px;
    height: 100px;

    top: 5%;
    background: #D2E23D;
    border-radius: 20px;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
