.startPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}
.navBar {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.lineOne, .lineTwo {

width: 30%;
height: 3px;
background-color: #F96417;
margin-top: 50px;

}
.title {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;

}

.word1 {
    font-size: 80px;
    font-weight: bold;
    
    background: linear-gradient(97.24deg, #105D8A 10.7%, #7CA2BB 50.51%, #9EBACD 79.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

 
}
 .word2 {
    font-size: 80px;
    font-weight: bold;
    background: linear-gradient(92.48deg, #FFEA38 13.35%, #FEF28B 46.93%, #FFF9C4 85.31%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

 } 
 
 .word3 {
    font-size: 80px;
    font-weight: bold;
    background: linear-gradient(268.51deg, #02565F 42.08%, #35B7B1 57.07%, #00F2DB 84.04%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.spruce {
    width: 200px;
    display: flex;
    justify-content: center;
}
.spruceLeft, .spruceRight {
   width: 50px;
   height: 100px;
   transform: rotate(-90deg);
}
.spruceRight {
    margin-top: 5px;
   transform: rotate(90deg);
}

.spruceBottom {
    width: 50px;
    height: 100px;
    transform: rotate(180deg);
}

.monitorList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
    margin-top: 12vh;
}
.monitor1, .monitor2, .monitor3 {
    width: 390px;
    height: 340px;

}

.robots {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 140vh;
}

.robot1, .robot2 {
    width: 451px;
    height: 348px;

}
.roots   {
   transition: all 2s;
}

